@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vote</h1>
    <p class="lead">
        This web application collects votes that are read by a Rasberry Pi 2 running Windows IoT Core.
     </p>
    <p><a href="https://michaelblumenthal.me/category/internet-of-things-iot/" class="btn btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <h2 class="btn btn-lg" style="background-color:red;width:100%;" id="redBtn">
                @Html.ActionLink("Red",
                "Vote" ,   // <-- ActionMethod
                "HomeController",  // <-- Controller Name.
                "Red", // <-- Route arguments.
                    null
                )            
        </h2>
    </div>

    <div class="col-xs-12 col-md-6">
        <h2 class="btn btn-lg" style="background-color:darkblue;width:100%;">@Html.ActionLink("Blue",
                "Vote",   // <-- ActionMethod
                "HomeController",  // <-- Controller Name.
                "Blue", // <-- Route arguments.
                    null
                )  </h2>
    </div>
</div>